/* ---------------------------------- *\
   #DOCUMENT
\* ---------------------------------- */

/**
 * 1. Inherit box-sizing to allow easier overrides.
 * 2. Backgrounds do not repeat by default.
 */

*,
::before,
::after {
  box-sizing: inherit; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * Reset all margins.
 */

* {
  margin: unset;
}

/**
 * Hide outline on non-keyboard focus.
 */

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
:focus:not(:focus-visible) {
  outline: none;
}

/**
 * 1. Use a better default box-sizing.
 * 2. Change the line height in all browsers.
 * 3. Breaks words to prevent overflow in all browsers.
 * 4. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: var(--font-text);
  font-size: var(--size-0);
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%; /* 4 */
  -moz-text-size-adjust: 100%; /* 4 */
  text-size-adjust: 100%; /* 4 */
  /* stylelint-enable */
}

/**
 * Smooth scroll, except for find on page.
 */

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

/**
 * Anything that has been anchored to should have extra scroll margin.
 */

:target {
  scroll-margin-block: 5ex;
}

/* ---------------------------------- *\
   #SECTIONS
\* ---------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

/**
 * 1. Reduce line height on large text.
 * 2. Balance text wrapping on headings (opinionated).
 */

h1,
h2,
h3 {
  line-height: 1.1; /* 1 */
  text-wrap: balance; /* 2 */
}

h1 {
  font-size: var(--size-3);
}

h2 {
  font-size: var(--size-2);
}

h3 {
  font-size: var(--size-1);
}

h4 {
  font-size: var(--size-0);
}

h5 {
  font-size: var(--size-1-);
}

h6 {
  font-size: var(--size-2-);
}

/* ---------------------------------- *\
   #GROUPING
\* ---------------------------------- */

/**
 * Only remove list styles with appropriate accessibility attributes.
 */

ol[role="list"],
ul[role="list"] {
  padding: 0;
  list-style: none;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1em;
}

dt {
  font-weight: 700;
  text-align: end;
}

dd {
  grid-column-start: 2;
}

/**
 * 1. Add the correct box-sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. A better looking default horizontal rule.
 */

hr {
  block-size: 0; /* 1 */
  color: inherit; /* 2 */
  border: 0; /* 3 */
  border-block-start: 1px solid; /* 3 */
}

pre {
  font-family: var(--font-mono);
}

/* ---------------------------------- *\
   #TEXT
\* ---------------------------------- */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
}

/* ---------------------------------- *\
   #EMBED
\* ---------------------------------- */

/**
 * Responsive media.
 */

canvas,
iframe,
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

img {
  object-fit: cover;
}

/* ---------------------------------- *\
   #TABLES
\* ---------------------------------- */

/**
 * Collapse border spacing in all browsers.
 */

table {
  border-collapse: collapse;
}

/* ---------------------------------- *\
   #FORMS
\* ---------------------------------- */

/**
 * Add typography inheritance in all browsers.
 */

input,
button,
textarea,
select {
  font: inherit;
}

/**
 * Reduce line height on interactive elements.
 */

button,
input,
label {
  line-height: var(--font-lineheight-0);
}

/**
 * Responsive inputs.
 */

input,
select,
textarea {
  max-inline-size: 100%;
  block-size: auto;
}

label {
  display: block;
}

:where([type="checkbox"], [type="radio"]) ~ label {
  display: inline;
}

/**
 * Make sure textareas without a rows attribute are not tiny.
 */

textarea:not([rows]) {
  min-block-size: var(--size-4);
}
