/* ---------------------------------- *\
   #DOCUMENT
\* ---------------------------------- */

/**
 * Inherit box-sizing to allow easier overrides.
 */

*,
::before,
::after {
  box-sizing: inherit;
}

/**
 * Reset all margins.
 */

* {
  margin: 0;
}

/**
 * 1. Use a better default box-sizing.
 * 2. Set the vertical rhythm.
 * 3. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  box-sizing: border-box; /* 1 */
  /* stylelint-disable value-keyword-case */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* stylelint-enable */
  font-size: 1em;
  line-height: 1.5; /* 2 */
  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%; /* 3 */
  -moz-text-size-adjust: 100%; /* 3 */
  text-size-adjust: 100%; /* 3 */
}

/* ---------------------------------- *\
   #SECTIONS
\* ---------------------------------- */

/**
 * Use a modular scale with ratio of 1.2.
 */

h1 {
  font-size: 1.728em;
}

h2 {
  font-size: 1.44em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.833em;
}

h6 {
  font-size: 0.694em;
}

/* ---------------------------------- *\
   #GROUPING
\* ---------------------------------- */

/**
 * Only remove list styles with appropriate accessibility attributes.
 */

ol[role="list"],
ul[role="list"] {
  padding: 0;
  list-style: none;
}

/* ---------------------------------- *\
   #TEXT
\* ---------------------------------- */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* ---------------------------------- *\
   #EMBED
\* ---------------------------------- */

/**
 * Responsive images.
 */

img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------------- *\
   #FORMS
\* ---------------------------------- */

label {
  display: block;
}
