/* ---------------------------------- *\
   #DOCUMENT
\* ---------------------------------- */

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: unset;
}

:where(:not(html, body, div, header, nav, main, footer, form, [class])) {
  max-inline-size: var(--measure);
}

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
:focus:not(:focus-visible) {
  outline: none;
}

:root {
  color-scheme: light dark;
}

html {
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: clamp(1em, var(--size--1) + 0.5vw, calc(1em * var(--ratio)));
  line-height: 1.5;
  overflow-wrap: break-word;

  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  /* stylelint-enable */
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-block: 5ex;
}

/* ---------------------------------- *\
   #SECTIONS
\* ---------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--size-3);
}

h2 {
  font-size: var(--size-2);
}

h3 {
  font-size: var(--size-1);
}

h4 {
  font-size: var(--size-0);
}

h5 {
  font-size: var(--size--1);
}

h6 {
  font-size: var(--size--2);
}

/* ---------------------------------- *\
   #GROUPING
\* ---------------------------------- */

ol[role="list"],
ul[role="list"] {
  padding: 0;
  list-style: none;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--size-0);
}

dt {
  font-weight: 700;
  text-align: end;
}

dd {
  grid-column-start: 2;
}

hr {
  color: inherit;
  border: 0;
  border-block-start: 1px solid;
}

pre {
  font-family: var(--font-mono);
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

/* ---------------------------------- *\
   #TEXT
\* ---------------------------------- */

a {
  color: var(--color-primary);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
}

/* ---------------------------------- *\
   #EMBED
\* ---------------------------------- */

canvas,
iframe,
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

iframe {
  border-style: none;
}

/* ---------------------------------- *\
   #FORMS
\* ---------------------------------- */

input,
button,
textarea,
select {
  font: inherit;
}

input,
select,
textarea {
  max-inline-size: 100%;
  block-size: auto;
}

label {
  display: block;
}

label[for] {
  cursor: pointer;
}

:where([type="checkbox"], [type="radio"]) + label {
  display: inline;
}
