*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: unset;
  line-height: max(var(--space-0), 1.1em);
}

:where(:not(html, body, div, header, nav, main, footer, form, [class])) {
  max-inline-size: var(--measure);
}

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  color-scheme: light dark;
}

html {
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: var(--size-0);
  line-height: 1.5;
  color: var(--color-ink);
  overflow-wrap: break-word;
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
  background-color: var(--color-paper);

  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  /* stylelint-enable */

  interpolate-size: allow-keywords;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-block: 5ex;
}

::selection,
::target-text {
  background-color: var(--color-highlight);
}
