input,
button,
textarea,
select {
  font: inherit;
}

input,
select,
textarea {
  max-inline-size: 100%;
  block-size: auto;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-ink);
}

:where(button, [type="button"], [type="reset"], [type="submit"]):where(:hover, :focus) {
  color: var(--color-paper);
  background-color: var(--color-ink);
}

label {
  display: block;
}

label[for] {
  cursor: pointer;
}

:where([type="checkbox"], [type="radio"]) + label {
  display: inline;
}
