:root {
  /**
   * Typography
   */

  /* stylelint-disable value-keyword-case */
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-text: var(--font-sans);
  --font-display: var(--font-text);
  /* stylelint-enable */

  /**
   * Modular scale
   */

  --scale: 1.5;
  --scale-0: 1rem;
  --scale-1-: calc(var(--scale-0) / var(--scale));
  --scale-2-: calc(var(--scale-1-) / var(--scale));
  --scale-1: calc(var(--scale-0) * var(--scale));
  --scale-2: calc(var(--scale-1) * var(--scale));
  --scale-3: calc(var(--scale-2) * var(--scale));
  --scale-4: calc(var(--scale-3) * var(--scale));
}
