:root {
  /**
   * Typography
   */

  /* stylelint-disable value-keyword-case */
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* stylelint-enable */

  --font-text: var(--font-sans);
  --font-display: var(--font-text);
  --measure: 60ch;

  /**
   * Modular scale
   */

  --size-ratio: 1.1487;
  --size-0: 1rem;
  --size--1: calc(var(--size-0) * pow(var(--size-ratio), -1));
  --size--2: calc(var(--size-0) * pow(var(--size-ratio), -2));
  --size-1: calc(var(--size-0) * pow(var(--size-ratio), 1));
  --size-2: calc(var(--size-0) * pow(var(--size-ratio), 2));
  --size-3: calc(var(--size-0) * pow(var(--size-ratio), 3));
  --size-4: calc(var(--size-0) * pow(var(--size-ratio), 4));
  --size-5: calc(var(--size-0) * pow(var(--size-ratio), 5));

  --space-ratio: 2;
  --space-0: 1rlh;
  --space--1: calc(var(--space-0) * pow(var(--space-ratio), -1));
  --space--2: calc(var(--space-0) * pow(var(--space-ratio), -2));
  --space-1: calc(var(--space-0) * pow(var(--space-ratio), 1));
  --space-2: calc(var(--space-0) * pow(var(--space-ratio), 2));

  /**
   * Colors
   */

  /* stylelint-disable value-keyword-case */
  --color-paper: Canvas;
  --color-ink: CanvasText;
  --color-muted: ButtonFace;
  --color-highlight: Highlight;
  --color-primary: AccentColor;
  /* stylelint-enable */
}
