.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space, var(--size-1));
}

.sidebar > * {
  flex-basis: var(--sidebar-side-width, auto);
  flex-grow: 1;
}

.sidebar:not(.sidebar-right) > :last-child,
.sidebar-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min, 50%);
}
