.ff-sans {
  font-family: var(--font-sans);
}

.ff-serif {
  font-family: var(--font-serif);
}

.ff-mono {
  font-family: var(--font-mono);
}

.ff-text {
  font-family: var(--font-text);
}

.ff-display {
  font-family: var(--font-display);
}
