.m--2 {
  margin: var(--space--2);
}

.m--1 {
  margin: var(--space--1);
}

.m-0 {
  margin: var(--space-0);
}

.m-1 {
  margin: var(--space-1);
}

.m-2 {
  margin: var(--space-2);
}

/**
 * Horizontal
 */

.mx--2 {
  margin-inline: var(--space--2);
}

.mx--1 {
  margin-inline: var(--space--1);
}

.mx-0 {
  margin-inline: var(--space-0);
}

.mx-1 {
  margin-inline: var(--space-1);
}

.mx-2 {
  margin-inline: var(--space-2);
}

/**
 * Left
 */

.ml--2 {
  margin-inline-start: var(--space--2);
}

.ml--1 {
  margin-inline-start: var(--space--1);
}

.ml-0 {
  margin-inline-start: var(--space-0);
}

.ml-1 {
  margin-inline-start: var(--space-1);
}

.ml-2 {
  margin-inline-start: var(--space-2);
}

/**
 * Right
 */

.mr--2 {
  margin-inline-end: var(--space--2);
}

.mr--1 {
  margin-inline-end: var(--space--1);
}

.mr-0 {
  margin-inline-end: var(--space-0);
}

.mr-1 {
  margin-inline-end: var(--space-1);
}

.mr-2 {
  margin-inline-end: var(--space-2);
}

/**
 * Vertical
 */

.my--2 {
  margin-block: var(--space--2);
}

.my--1 {
  margin-block: var(--space--1);
}

.my-0 {
  margin-block: var(--space-0);
}

.my-1 {
  margin-block: var(--space-1);
}

.my-2 {
  margin-block: var(--space-2);
}

/**
 * Top
 */

.mt--2 {
  margin-block-start: var(--space--2);
}

.mt--1 {
  margin-block-start: var(--space--1);
}

.mt-0 {
  margin-block-start: var(--space-0);
}

.mt-1 {
  margin-block-start: var(--space-1);
}

.mt-2 {
  margin-block-start: var(--space-2);
}

/**
 * Bottom
 */

.mb--2 {
  margin-block-end: var(--space--2);
}

.mb--1 {
  margin-block-end: var(--space--1);
}

.mb-0 {
  margin-block-end: var(--space-0);
}

.mb-1 {
  margin-block-end: var(--space-1);
}

.mb-2 {
  margin-block-end: var(--space-2);
}
