.p--2 {
  padding: var(--space--2);
}

.p--1 {
  padding: var(--space--1);
}

.p-0 {
  padding: var(--space-0);
}

.p-1 {
  padding: var(--space-1);
}

.p-2 {
  padding: var(--space-2);
}

/**
 * Horizontal
 */

.px--2 {
  padding-inline: var(--space--2);
}

.px--1 {
  padding-inline: var(--space--1);
}

.px-0 {
  padding-inline: var(--space-0);
}

.px-1 {
  padding-inline: var(--space-1);
}

.px-2 {
  padding-inline: var(--space-2);
}

/**
 * Left
 */

.pl--2 {
  padding-inline-start: var(--space--2);
}

.pl--1 {
  padding-inline-start: var(--space--1);
}

.pl-0 {
  padding-inline-start: var(--space-0);
}

.pl-1 {
  padding-inline-start: var(--space-1);
}

.pl-2 {
  padding-inline-start: var(--space-2);
}

/**
 * Right
 */

.pr--2 {
  padding-inline-end: var(--space--2);
}

.pr--1 {
  padding-inline-end: var(--space--1);
}

.pr-0 {
  padding-inline-end: var(--space-0);
}

.pr-1 {
  padding-inline-end: var(--space-1);
}

.pr-2 {
  padding-inline-end: var(--space-2);
}

/**
 * Vertical
 */

.py--2 {
  padding-block: var(--space--2);
}

.py--1 {
  padding-block: var(--space--1);
}

.py-0 {
  padding-block: var(--space-0);
}

.py-1 {
  padding-block: var(--space-1);
}

.py-2 {
  padding-block: var(--space-2);
}

/**
 * Top
 */

.pt--2 {
  padding-block-start: var(--space--2);
}

.pt--1 {
  padding-block-start: var(--space--1);
}

.pt-0 {
  padding-block-start: var(--space-0);
}

.pt-1 {
  padding-block-start: var(--space-1);
}

.pt-2 {
  padding-block-start: var(--space-2);
}

/**
 * Bottom
 */

.pb--2 {
  padding-block-end: var(--space--2);
}

.pb--1 {
  padding-block-end: var(--space--1);
}

.pb-0 {
  padding-block-end: var(--space-0);
}

.pb-1 {
  padding-block-end: var(--space-1);
}

.pb-2 {
  padding-block-end: var(--space-2);
}
