.scale-02 {
  font-size: var(--scale-02);
}

.scale-01 {
  font-size: var(--scale-01);
}

.scale-0 {
  font-size: var(--scale-0);
}

.scale-1 {
  font-size: var(--scale-1);
}

.scale-2 {
  font-size: var(--scale-2);
}

.scale-3 {
  font-size: var(--scale-3);
}
