.text-2- {
  font-size: var(--scale-2-);
}

.text-1- {
  font-size: var(--scale-1-);
}

.text-0 {
  font-size: var(--scale-0);
}

.text-1 {
  font-size: var(--scale-1);
}

.text-2 {
  font-size: var(--scale-2);
}

.text-3 {
  font-size: var(--scale-3);
}

.text-4 {
  font-size: var(--scale-4);
}

