/* ----------------------------------- *\
  #BASE
\* ----------------------------------- */

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: var(--rhythm, 1.5);
  color: var(--ink, black);
  background-color: var(--paper, white);
  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* stylelint-enable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
}

h1 {
  font-size: 1.728em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  font-size: calc(
    1em * var(--scale, 1.2) * var(--scale, 1.2) * var(--scale, 1.2)
  );
}

h2 {
  font-size: 1.44em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  font-size: calc(1em * var(--scale, 1.2) * var(--scale, 1.2));
}

h3 {
  font-size: 1.2em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  font-size: calc(1em * var(--scale, 1.2));
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.833em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  font-size: calc(1em / var(--scale, 1.2));
}

h6 {
  font-size: 0.694em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  font-size: calc(1em / var(--scale, 1.2) / var(--scale, 1.2));
}

ol[role='list'],
ul[role='list'] {
  padding: 0;
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
}
