/* ----------------------------------- *\
  #COMPOSITION
\* ----------------------------------- */

/**
 * Cluster
 */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/**
 * Container
 */

.container {
  width: 100%;
  max-width: 60em;
  margin-inline: auto;
}

/**
 * Cover
 */

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/**
 * Grid
 *
 * Configure a grid by setting the maximum number of columns.
 */

.grid {
  --grid-gutter: 1em;
  --grid-columns: 4;
  --grid-min: 6em;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      max(
        var(--grid-min),
        calc(
          (100% - ((var(--grid-columns) - 1) * var(--grid-gutter))) /
            var(--grid-columns)
        )
      ),
      1fr
    )
  );
  gap: var(--grid-gutter);
}

/**
 * Stack
 */

.stack > * + * {
  margin-block-start: 1.5em;
}
