/* ----------------------------------- *\
  #COMPOSITION
\* ----------------------------------- */

/**
 * Container
 */

.container {
  max-width: var(--size, 60em);
  margin-inline: auto;
}

/**
 * Cover
 */

.cover {
  display: flex;
  flex-direction: column;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  min-height: 100vh;
}

/**
 * Stack
 */

.stack > * + * {
  margin-block-start: var(--rhythm, 1.5rem);
}
