.center {
  inline-size: 100%;
  max-inline-size: var(--center-size, var(--measure));
  padding-inline: var(--center-space, var(--space-0));
  margin-inline: auto;
}

.center-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
