.cover {
  display: flex;
  flex-direction: column;
  gap: var(--cover-space, var(--space-0));
  min-block-size: var(--cover-size, 100dvb);
}

.cover-start {
  margin-block-end: auto;
}

.cover-center {
  margin-block: auto;
}

.cover-end {
  margin-block-start: auto;
}
