.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: var(--frame-size, auto);
  overflow: hidden;
}

.frame > * {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
