.grid {
  --grid-gap: var(--size-1);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min, calc(var(--measure) / 4 - var(--grid-gap))), 1fr)
  );
  gap: var(--grid-gap);
  align-content: start;
}
