.reel {
  display: flex;
  block-size: var(--reel-height, auto);
  overflow: auto hidden;
}

.reel > * {
  flex: 0 0 var(--reel-item-width, auto);
}

.reel > img {
  flex-basis: auto;
  inline-size: auto;
  block-size: 100%;
}

.reel > * + * {
  margin-inline-start: var(--reel-space, var(--size-0));
}
