.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-space, var(--space-0));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-size, var(--measure)) - 100%) * 999);
}
