/* ---------------------------------- *\
   #DOCUMENT
\* ---------------------------------- */

*,
::before,
::after {
  /* Inherit box-sizing to allow easier overrides. */
  box-sizing: inherit;

  /* Backgrounds do not repeat by default. */
  background-repeat: no-repeat;
}

* {
  /* Reset all margins. */
  margin: unset;
}

*:not(html, body, div, header, nav, main, footer) {
  /* Enforce measure. */
  max-inline-size: var(--measure);
}

/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
:focus:not(:focus-visible) {
  /* Hide outline on non-keyboard focus. */
  outline: none;
}

html {
  /* Use a better default box-sizing. */
  box-sizing: border-box;
  font-family: var(--font-text);

  /* Fluid font sizing */
  font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);

  /* Change the line height in all browsers. */
  line-height: 1.5;

  /* Breaks words to prevent overflow in all browsers. */
  overflow-wrap: break-word;

  /* Prevent adjustments of font size after orientation changes in iOS. */
  /* stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  /* stylelint-enable */
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    /* Smooth scroll, except for find on page. */
    scroll-behavior: smooth;
  }
}

:target {
  /* Anything that has been anchored to should have extra scroll margin. */
  scroll-margin-block: 5ex;
}

/* ---------------------------------- *\
   #SECTIONS
\* ---------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);

  /* Balance text wrapping on headings. */
  text-wrap: balance;
}

h1,
h2,
h3 {
  /* Reduce line height on large text. */
  line-height: 1.1;
}

h1 {
  font-size: var(--size-3);
}

h2 {
  font-size: var(--size-2);
}

h3 {
  font-size: var(--size-1);
}

h4 {
  font-size: var(--size-0);
}

h5 {
  font-size: var(--size-1-);
}

h6 {
  font-size: var(--size-2-);
}

/* ---------------------------------- *\
   #GROUPING
\* ---------------------------------- */

/**
 * Only remove list styles with appropriate accessibility attributes.
 */

ol[role="list"],
ul[role="list"] {
  padding: 0;
  list-style: none;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1em;
}

dt {
  font-weight: 700;
  text-align: end;
}

dd {
  grid-column-start: 2;
}

hr {
  /* Add the correct box-sizing in Firefox. */
  block-size: 0;

  /* Correct the inheritance of border color in Firefox. */
  color: inherit;
  border: 0;
  border-block-start: 1px solid;
}

pre {
  font-family: var(--font-mono);
}

/* ---------------------------------- *\
   #TEXT
\* ---------------------------------- */

a {
  color: var(--color-primary);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
}

/* ---------------------------------- *\
   #EMBED
\* ---------------------------------- */

canvas,
iframe,
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

iframe {
  /* Remove the border on iframes in all browsers. */
  border-style: none;
}

img {
  object-fit: cover;
}

/* ---------------------------------- *\
   #TABLES
\* ---------------------------------- */

table {
  width: 100%;

  /* Collapse border spacing in all browsers. */
  border-collapse: collapse;
}

th,
caption {
  text-align: start;
}

td,
th {
  padding: var(--size-2-);
  border: 1px solid;
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

/* ---------------------------------- *\
   #FORMS
\* ---------------------------------- */

input,
button,
textarea,
select {
  /* Add typography inheritance in all browsers. */
  font: inherit;
}

button,
input,
label {
  /* Reduce line height on interactive elements. */
  line-height: 1.1;
}

input,
select,
textarea {
  max-inline-size: 100%;
  block-size: auto;
}

label {
  display: block;
}

:where([type="checkbox"], [type="radio"]) + label {
  display: inline;
}

textarea:not([rows]) {
  /* Make sure textareas without a rows attribute are not tiny. */
  min-block-size: var(--size-4);
}
